<a href="https://colab.research.google.com/github/llRodroll/CinD_23/blob/main/00_Basics_of_MD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

jugsadxkas assdfc sdfjhsdf sakhsd cskjsd wehxwmn 

# Apple
## Subtitle
### Subsubtitle

## Section 1

## Subsection 1

# Text Formating

## Bold

Using `**`:

`**Rodrigo**` = **Rodrigo**

## Italic

Use `*`

`*Vélez*` = *Vélez*

Write you your full name with the first two with bold, the first last name in Italics and the second Last name in bold+italics:

**José Rodrigo** *Vélez* ***Molano***